  
  .box {
      box-sizing: border-box;
      margin: 0 auto;
      border: 1px solid black;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .boxhovereffect {
      background-color: rgb(175, 167, 167);
  }

  #container-div {
      display: flex;
      flex-flow: row wrap;
      height: 960px;
      width: 960px;
      background-color: black;
      border: 2px solid black;
  }

  #reset {
      margin-top: 15px;
      margin-bottom: 15px;
  }


  
